/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


nav {
	display: flex;
	padding: 0;
	background: var(--redux-color);
  }
  
  nav section {
	width: 100%;
  }
  
  nav section h1,
  nav section {
	color: white;
  }
  
  nav a,
  nav a:active {
	font-weight: 700;
	padding: 0.25rem 1.5rem;
	border-radius: 4px;
	color: white !important;
	background: #481499;
  }
  
  nav a:first-of-type {
	margin-left: -1.5rem;
  }
  
  nav a:hover {
	color: purple;
	background: #926bcf;
  }
  
  .navContent {
	color: purple;
	display: flex;
	justify-content: space-between;
  }
  
  .navLinks {
	display: flex;
  }
  
  .navLinks a {
	margin-left: 5px;
  }
  
  .navLinks a .badge {
	margin-left: 5px;
	position: relative;
	top: -3px;
  }
  
  .badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	color: #212529;
	background-color: #f8f9fa;
  }
  
  .navLinks :first-child {
	margin-left: 0;
  }
  
  /* Main content */
  
  section {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.5rem;
  }
  
  section h1 {
	font-size: 3rem;
  }
  
  /* Posts list */
  
  .post h2 {
	font-size: 2.5rem;
	margin-bottom: 5px;
  }
  
  .post-excerpt {
	padding: 0.25rem 0.25rem;
	border: 1px solid rgb(177, 174, 174);
	border-radius: 7px;
  }
  
  .posts-list .post-excerpt + .post-excerpt {
	margin-top: 0.5rem;
  }
  
  .posts-container.disabled {
	opacity: 0.5;
  }
  
  .post-excerpt h3 {
	margin: 0;
	font-size: 1.5rem;
  }
  
  p.post-content {
	margin-top: 10px;
  }
  
  .button {
	display: inline-block;
	background: #1976d2;
	color: white;
	border-radius: 4px;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
  }
  
  button:disabled,
  button:disabled:hover {
	opacity: 0.5;
  }
  
  button.reaction-button {
	border: 1px solid #e0e3e9;
	padding: 5px 10px;
	margin: 5px 6px 10px;
	border-radius: 4px;
	white-space: nowrap;
  }
  
  .spinner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .spinner h4 {
	margin: 5px;
  }
  
  /* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
  .loader {
	font-size: 10px;
	margin: 10px;
	/* text-indent: -9999em; */
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background: var(--redux-color);
	background: -moz-linear-gradient(
	  left,
	  var(--redux-color) 10%,
	  rgba(128, 0, 255, 0) 42%
	);
	background: -webkit-linear-gradient(
	  left,
	  var(--redux-color) 10%,
	  rgba(128, 0, 255, 0) 42%
	);
	background: -o-linear-gradient(
	  left,
	  var(--redux-color) 10%,
	  rgba(128, 0, 255, 0) 42%
	);
	background: -ms-linear-gradient(
	  left,
	  var(--redux-color) 10%,
	  rgba(128, 0, 255, 0) 42%
	);
	background: linear-gradient(
	  to right,
	  var(--redux-color) 10%,
	  rgba(128, 0, 255, 0) 42%
	);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
  }
  
  .loader:before {
	width: 50%;
	height: 50%;
	background: var(--redux-color);
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
  }
  
  .loader:after {
	background: #ffffff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  @-webkit-keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes load3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  /* Notifications list */
  
  .notification {
	border: 1px solid #eee;
	padding: 0.5rem;
  }
  
  .notificationsList .notification + .notification {
	border-top: none;
  }
  
  .notification.new {
	background-color: rgba(29, 161, 242, 0.1);
  }
  
  /* 导航样式 */

.nav-links {
	width: 100%;
	top: 5rem;
	left: 48px;
	background-color: #ff9776;
	display: none;
	margin: 0;
  }
  
  .nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
	background-color: #ff9776;
  }
  


  .hamburger {
	padding-right: 20px;
	cursor: pointer;
  }
  
  .hamburger .line {
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #ff9776;
  }

  html.dark {
	background-color: #0d0950;
	color: #fff;
  }
  
  .dark .nav-links a {
	color: #fff;
  }

  .expanded {
	display: unset;
  }
  
  @media screen and (min-width: 636px) {
	.nav-links {
	  margin-left: 5em;
	  display: block;
	  position: static;
	  width: auto;
	  background: none;
	}
  
	.nav-links a {
	  display: inline-block;
	  padding: 15px 20px;
	}

	.hamburger {
		display: none;
	  }
  
  }
