---
import Hamburger from './Hamburger.astro';
import {Navbar} from './react/app/Navbar.jsx';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <Hamburger />
	<ThemeIcon />
    <Navbar />
  </nav>
</header>